@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background:#FF81A3;
}

.container-all{
    width: 75%;
    height: 700px;
    max-width: 1250px;
    margin: auto;
    padding: 60px;
    background: #B3E5F1;
    margin-top: 30px;
    border: 6px solid #000000 ;
}

.title{
    font-size: 45px;
    margin-bottom: 50px;
}

.sub-title{
    font-size: 30px;
     font-weight: 400;
}

.container-all img{
    width: 300px;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

h1{ 
    color:black;
    font-family: Century Gothic;
    padding:8px;
}

h2{ 
    color:black;
    font-family: Century Gothic;
    padding:8px;
}

.button{
    display: block;
    padding: 15px 20px;
    margin-top: .8em;
    background: red;
    text-align: center;
    color: white;
    font-size: 1.4em;
    border-radius: 3px;
    transition: all .4s ease-in;
}

.button:hover{
    background: purple;
}

