*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    width: 100%;
    float:right;
    background-image: url(../imagenes/fo.jpg);
    color: white;  
    display:flex;
    flex-wrap:wrap;
    padding: 1%;
    box-sizing: border-box;
    
}

.container-footer-all{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 100px;
}

.colum1 h1{
    font-family: Courier New;
    font-size: 20px;
}

.colum1 p{
    font-family:  Century;
    font-size: 13px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 200px;
    
}

.colum2 h1{
    font-family: Courier New;
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 30px;
    height: 30px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 450px;
}

.colum3 h1{
     font-family: Courier New;
    font-size: 22px;
}

.row2{
    font-size:15px;
    margin-top: 15px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    padding: 10px;
    background: white;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #343334;
}

.copyright a{
    text-decoration: none;
    color: #343334;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #343334;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
